.header-logo img {
    width: 12vw;
    padding-top: 2vw;
    padding-left: 2vw;
    z-index: 2;
}

.header-logo a {
    height: 0vw;
}

.burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: fixed;
    z-index: 3;
    border: none;
    right: 10px;
    top: 10px;
    /* margin-left: 10vw;
    margin-top: 2.5vw; */
    /* transform: translateX(90vw) translateY(-11vw); */
}

.bar {
    width: 20px;
    height: 2px;
    display: block;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0);
    padding-right: 1vw;
}

.bar_top {
    top: 25%;
}

.bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
}

.bar_bottom {
    bottom: 25%;
}

.burger-btn.close .bar_top {
    transform: translate(-50%, 2.25vw) rotate(45deg);
    transition: transform .3s;

}

.burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity .3s;
}

.burger-btn.close .bar_bottom {
    transform: translate(-50%, -2.25vw) rotate(-45deg);
    transition: transform .3s;
}

.nav-wrapper {
    display: none;
    transform: translateX(100%);
    /* メニュー調整中はここをコメント化 */

    transition: .3s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav-wrapper.slide-in {
    display: block;
    transform: translateX(0);
    transition: .3s;
}

.header-nav {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, #2fa89a, #8faca8);
    z-index: 2;
    /* display: flex; */
    justify-content: center;
    /* padding-top: 8vw; */
    /* overflow: hidden; */
    overflow-y: scroll;
}

.in-menu-box {
    display: flex;
    justify-content: center;
    font-size: 3.7vw;
}

.in-menu-box:first-child{
    /* margin-top: 3em; */
    font-size: 4vw;
}

.in-menu-box a {
    color: #ffffff;
    padding: 1vw 1vw;
    text-decoration: none;
}

.in-menu-box .spe-covid-a {
    color: #ffffff;
    padding: 1vw 3vw;
    text-decoration: none;
    border: solid;
    border-radius: 1vw;
    margin: 5vw 0;
    margin-top: 15vw;
}

.in-menu-box i {
    color: #ffffff;
    padding-left: 2vw;
}

.in-menu-box-sns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

.in-menu-box-sns .icon i {
    margin: 1vw;
    padding: 0 0.25vw;
    color: #000000;
}

.in-menu-box-sns .icon {
    margin: 0 5vw;
    padding: 2vw;
    border-radius: 50%;
    background-color: #ffffff;
}

.in-menu-box-sns span {
    margin: 0 5vw;
    padding: 2vw;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
}

.in-menu-box-sns span #noteicon {
    margin: 1vw 1.75vw 0.5vw 1vw;
    /* padding: 0 0.25vw; */
}

.menu-headblock {
    font-family: kozuka-gothic-pro, sans-serif;
    /* font-weight: 700; */
    font-weight: 600;
    font-style: normal;

    display: flex;
    font-size: 5vw;
    margin: 0 30vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    position: relative;
}

.menu-circle {
    background-color: #f4e767;
    border-radius: 50%;
    height: 10vw;
    position: absolute;
    width: 10vw;
    transform: translateX(-1vw) translateY(1.75vw);
}

.menu-heading {
    /* イタリックの名前 */
    font-family: 'Montserrat', sans-serif;
    font: italic;
    z-index: 1;
    margin-top: 3vw;
    margin-left: 2.5vw;
}


header {
    position: fixed;
    z-index: 3;
}

.appear-part {
    width: 100vw;
    position: static;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    /* 両端に物体を配置 */
    vertical-align: middle;
    transition: 0.3s;
}

.backscroll img {
    width: 11vw;
    height: 11vw;
    /* margin: 2vw 4vw 0.5vw 3vw;     */
}

.backscroll {
    position: absolute;
    bottom: -85vh;
    left: 89vw;
    text-decoration: none;
    color: #000000;
    background-color: #ffffffd0;
    border-radius: 5%;
    padding: 1vw 1.5vw 1.25vw 1.5vw;
}

.scrollanime {
    opacity: 0;
    transform: translateY(1px);
}

/*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.scroll-prevent {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
